html {
    font-family: sans-serif;
    color: #555555;
}
.overview {
    width: 100%;
    text-align: center;
}
.bubble {
    border-radius: 5px;
    border: 1px solid grey;
    padding: 1em;
    margin: auto 3em;
    display: inline-block;
    width: 30em;
    margin-top: 3em;
    background-color: #f5f5f5;
}